@font-face {
    font-family: 'SVN-Taken by Vultures';
    src: url('SVN-TakenbyVultures.eot');
    src: url('SVN-TakenbyVultures.eot?#iefix') format('embedded-opentype'),
        url('SVN-TakenbyVultures.woff2') format('woff2'),
        url('SVN-TakenbyVultures.woff') format('woff'),
        url('SVN-TakenbyVultures.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

