$color-pri: #0E1D61;
$color-second: #FACD01;
$color-third: #f05123;
$color-four: #f05123;
$color-five: #f05123;
$color-black: #000000;
$color-black-1: #1D1D1E;
$color-black-2: #0F0E0F;
$color-black-3: #4A4A4A;
$color-white: #ffffff;
$color-gray: #f8f8f8;
$color-gray-1: #4C4C4C;
$color-gray-2-10: rgba(36, 25, 25, 0.1);
$color-gray-3: #283846;
$color-gray-4: #D9D9D9;
$color-gray-5: #5F5F5F;
$color-gray-6: #7E8890;
$color-text: #303030;
$color-E8E8E8: #E8E8E8;
$color-F5F5F5: #F5F5F5;
$color-18345F: #18345F;
$color-E9E9E9: #E9E9E9;
$color-FACD01: #FACD01;
$color-D2D0D0: #D2D0D0;
$color-F4F4F4: #F4F4F4;
$color-ED907A: #ED907A;
$color-F7F7F7: #F7F7F7;
$color-7A7A7A: #7A7A7A;
$color-pri-10: rgb(25 34 109 / 10%);
$color-pri-20: rgb(25 34 109 / 20%);
$color-pri-30: rgb(25 34 109 / 30%);
$color-pri-40: rgb(25 34 109 / 40%);
$color-pri-50: rgb(25 34 109 / 50%);
$color-pri-60: rgb(25 34 109 / 60%);
$color-pri-70: rgb(25 34 109 / 70%);
$color-pri-80: rgb(25 34 109 / 80%);
$color-pri-90: rgb(25 34 109 / 90%);
$color-72C3D5: #72C3D5;
$color-0E1D61: #0E1D61;
$color-888888: #888888;
$color-A6A6A6: #A6A6A6;
$color-CECECE: #CECECE;
$color-8384AE: #8384AE;
$color-white-opa1: rgba(255, 255, 255, 0.1);
$color-white-opa2: rgba(255, 255, 255, 0.2);
$color-white-opa3: rgba(255, 255, 255, 0.3);
$color-white-opa4: rgba(255, 255, 255, 0.4);
$color-white-opa5: rgba(255, 255, 255, 0.5);
$color-white-opa6: rgba(255, 255, 255, 0.6);
$color-white-opa7: rgba(255, 255, 255, 0.7);
$color-white-opa8: rgba(255, 255, 255, 0.8);
$color-white-opa9: rgba(255, 255, 255, 0.9);
$color-black-opa1: rgba(0, 0, 0, 0.1);
$color-black-opa2: rgba(0, 0, 0, 0.2);
$color-black-opa3: rgba(0, 0, 0, 0.3);
$color-black-opa4: rgba(0, 0, 0, 0.4);
$color-black-opa5: rgba(0, 0, 0, 0.5);
$color-black-opa6: rgba(0, 0, 0, 0.6);
$color-black-opa7: rgba(0, 0, 0, 0.7);
$color-black-opa8: rgba(0, 0, 0, 0.8);
$color-black-opa9: rgba(0, 0, 0, 0.9);
$color-F3F3F3: #F3F3F3;
//Responsive
$res-mobile: 1200px;
$res-mobile-min: 1201px;
$mobile: 500px;
//Distance
$distance-header: 120px;
$distance-header-mobile: 72px;
$distance-header-sticky: 60px;
$distance-header-mobile-sticky: 56px;
$border-line: 1px solid rgba(0, 0, 0, 0.1);
$radius: 6px;