.ck {
    padding: 4.8rem 0 16rem 0;
    @include max($res-mobile) {
        padding: 4rem 0;
    }
    &-side {
        margin-bottom: -3rem;
        &-item {
            width: calc(100% /2);
            margin-bottom: 3rem;
            @include max(768px) {
                width: 100%;
            }
        }
    }
    &-item {
        @include flex;
        &:not(:last-child) {
            margin-bottom: 2.4rem;
        }
        .icon {
            width: 2.4rem;
            height: 2.4rem;
            margin-right: 0.8rem;
        }
    }
    &-author {
        text-align: end;
        &-signature {
            width: 26rem;
            height: auto;
            margin-left: auto;
            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
        &-name {
            font-weight: 700;
        }
    }
    &-content {
        margin-left: 4rem;
        @include max($res-mobile) {
            margin-left: 0;
        }
    }
    &-image {
        @include flex;
        &-item {
            &:nth-child(1) {
                width: calc(100%*(4/6));
                @include max($res-mobile) {
                    width: calc(100% /2);
                }
            }
            &:nth-child(2) {
                flex: 1;
                z-index: 1;
                margin-top: 30%;
                img {
                    @include min($res-mobile-min) {
                        top: 0;
                        right: 0;
                        width: 157%;
                        height: 164%;
                        transform: initial;
                        left: initial;
                    }
                }
            }
        }
        &-img {
            @include imgPd(453, 395);
            overflow: initial;
            img {
                @include imgCover;
            }
        }
    }
}