.cmt {
    padding: 9.6rem 0;
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        @include full;
        background-color: rgba(14, 29, 97, 0.6);
        z-index: -1;
    }
    .icon {
        width: 6rem;
        height: 6rem;
        margin: 0 auto;
        margin-bottom: 3.2rem;
        display: block;
    }
    &-br {
        position: absolute;
        @include full;
        z-index: -2;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .t-title {
        margin-bottom: 8rem;
    }
    &-container {
        width: 75rem;
        margin: 0 auto;
        max-width: 100%;
    }
    &-wrap {
        text-align: center;
    }
    &-des {
        @include fz-20;
        color: white;
    }
    &-user {
        width: fit-content;
        margin: 0 auto;
        margin-top: 1.6rem;
        &-ava {
            width: 7rem;
            height: 7rem;
            border-radius: 100rem;
            overflow: hidden;
            margin: 0 auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-name {
            font-weight: 700;
            color: white;
            margin-top: 1.6rem;
        }
    }
    &-slider {
        position: relative;
        .swiper-prev,
        .swiper-next {
            position: absolute;
            top: 20%;
        }
        .swiper-next {
            right: -10rem;
        }
        .swiper-prev {
            left: -10rem;
        }
        .swiper-pagination {
            position: absolute;
            bottom: -5rem;
        }
    }
}