.accessory {
    &-1 {
        // padding-top: 1.5rem;

        .swiper {
            &-slide {
                // padding:0 0.5rem;
            }
        }

        .cate-silde {
            width: calc(100% * 8 / 12);
            margin-left: auto;
            margin-right: auto;
            padding: 0 4rem;

            @include max(1025px) {
                width: 100%;
                padding: 0 3rem;
            }
        }

        .top {
            .filter-container {
                @include max(450px) {
                    width: 100%;
                    margin-top: 1.5rem;
                }
            }
        }

    }

    &-2 {
        position: relative;

        .bg-img {
            position: absolute;
            background: url("../assets/images/Email.png"), #212223;
            background-blend-mode: overlay, normal;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .accessory {
            &-wrap {
                width: 100%;
                max-width: 58.8rem;
                margin: auto;

                .desc {
                    max-width: 40.5rem;
                }
            }
        }

        .form {
            &-sigup {
                width: 100%;
            }

            &-wrap {
                flex-wrap: nowrap;
                margin: 0;

                input {
                    background: transparent;
                    border-bottom: 1px solid white;
                    width: 100%;
                    margin-right: 2rem;
                    padding: 0 3.4rem 1.1rem;
                    color: white;

                    &::placeholder {
                        color: white;
                    }
                }

                .btn {
                    flex-shrink: 0;
                }

                .icon {
                    position: absolute;
                    bottom: 1.1rem;
                    @include flex;
                    left: 0;
                    width: 2.4rem;
                }
            }
        }
    }

    &-wrap {
        .breadcumbs {}
    }

    &-intro {
        &-item {
            .image {

                @include max(1025px) {
                    margin-bottom: 2rem;
                    width: 100%;
                }

                .img {
                    @include imgPd(415, 588);
                    overflow: hidden;
                    border-radius: 2.4rem;
                }

                img {
                    @include imgCover;
                }
            }

            &:nth-child(even) {
                flex-direction: row-reverse;
            }

            &:not(:last-child) {
                margin-bottom: 7.2rem;

                @include max(1201px) {
                    margin-bottom: 4rem;
                }

                @include max(1025px) {
                    margin-bottom: 3rem;
                }
            }

            .info {
                @include max(1025px) {
                    width: 100%;
                }
            }
        }
    }
}

.sort {
    &-container {
        position: relative;

        .text {
            margin-right: 6rem;

            @include max(420px) {
                margin-right: 1.5rem;
            }
        }

        @include max(1201px) {
            justify-content: flex-start;
            // display: inline-block;
        }
    }

    &-content {
        position: relative;
        z-index: 20;
    }

    &-list {
        @include min(1201px) {
            display: -webkit-flex !important;
            display: -moz-flex !important;
            display: -ms-flex !important;
            display: -o-flex !important;
            display: flex !important;

        }

        @include max(1201px) {
            flex-direction: column;
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
            background: white;
            z-index: 10;
            display: none;
            user-select: none;
            padding: 1rem 0;
            filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.1));
        }
    }

    &-item {

        a,
        .sort-detail {
            @include flex;
            align-items: center;
            padding: 0.9rem 3.2rem 0.8rem;
            border-radius: 10rem;
            color: $color-7A7A7A;
            min-width: 16.5rem;
            @include mid-flex;
            width: max-content;
            cursor: pointer;
        }

        .icon {
            @include flex;
            margin-right: 1rem;

            @include max(1201px) {
                display: none;
            }
        }

        &.current {

            a,
            .sort-detail {
                background: $color-text;
                color: white;

                @include max(1201px) {
                    background: white;
                    color: $color-five;
                }
            }

        }

        &.other {

            a,
            .sort-detail {
                color: #CC4444;

                @include max(1201px) {
                    color: $color-text;
                }
            }
        }
    }

    &-selected {
        display: none;
        border-bottom: 1px solid $color-text;
        min-width: 16.5rem;
        text-align: center;
        user-select: none;
        position: relative;

        @include max(1201px) {
            display: inline-block;
        }

        .icon {
            font-size: 1.2rem;
            margin-left: 1rem;
        }
    }
}

.question {
    &-sub {
        display: none;
    }

    &-list {
        width: calc(100% * 8 / 12);
        margin-left: auto;
        margin-right: auto;
    }

    &-item {

        &:not(:last-child) {
            margin-bottom: 2.1rem;
        }

        .title {
            padding-bottom: 1.1rem;
            font-weight: 700;
            @include fz-20;
            line-height: 1.25;
            width: 100%;
            display: inline-block;
            cursor: pointer;
            position: relative;
            border-bottom: 1px solid #CECECE;
        }
    }

    &-sub {
        padding: 2.1rem 2rem 1rem;

        .question-sub-item {
            list-style: disc;

            &:not(:last-child) {
                margin-bottom: 2.4rem;
            }
        }
    }
}

.collp {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    right: 1.6rem;
    top: 50%;
    transform: translateY(-50%);
    background: $color-72C3D5;
    border-radius: 50%;
    transition: 0.3s ease-in-out;

    .inner {
        position: relative;
        width: 100%;
        height: 100%;
        display: inline-block;

        &::before,
        &::after {
            position: absolute;
            content: "";
            height: 3px;
            width: 24px;
            background: white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.5);
            transition: 0.3s ease-in-out;
            z-index: 10;
        }

        &::after {
            transform: translate(-50%, -50%) scale(0.5) rotate(90deg);
        }
    }

    &.active {
        background: $color-second;

        .inner {
            &::after {
                transform: translate(-50%, -50%) scale(0.5);
            }
        }
    }
}