.booking {
    &-form {
        &-wrap {
            padding: 8rem;
            border-radius: 2.4rem;
            background: linear-gradient(0deg, rgba(14, 29, 97, 0.9), rgba(14, 29, 97, 0.9));
            position: relative;
            overflow: hidden;

            @include max($res-mobile) {
                padding: 4.8rem;
            }

            @include max(450px) {
                padding: 2rem;

            }
        }

        &-br {
            position: absolute;
            @include full;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.symptom {
    padding-bottom: 20rem;

    @include max(1201px) {
        padding-bottom: 4rem;
    }

    &-main {
        width: calc(100% * 6 / 10);
        position: relative;

        @include max(800px) {
            width: 100%;
            max-width: 50rem;
        }

        .img {
            width: 100%;
            @include imgPd(1, 1);
            border-radius: 50%;

            @include max(800px) {
                margin: auto;
            }

            img {
                @include imgCover;
            }
        }

        .line-color {
            width: 75%;
            height: 75%;
            z-index: 1;
            left: 38%;
            top: 42%;

            @include max(1201px) {
                display: none;
            }
        }

        .dot {
            position: absolute;
            width: 8.334%;
            height: 8.334%;
            border-radius: 50%;

            &::before {
                position: absolute;
                content: '';
                width: 70%;
                height: 70%;
                border-radius: 50%;
                background: white;
                top: 50%;
                left: 50%;
                z-index: 1;
                transform: translate(-50%, -50%);
            }

            &::after {
                position: absolute;
                content: '';
                width: 40%;
                height: 40%;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                z-index: 2;
                transform: translate(-50%, -50%);
            }

            &-1 {
                background: $color-pri;
                right: -3%;
                top: 8%;

                &::after {
                    background: $color-pri;
                }
            }

            &-2 {
                background: $color-second;
                right: 12%;
                top: 47%;

                &::after {
                    background: $color-second;
                }
            }

            &-3 {
                background: $color-72C3D5;
                right: 31%;
                top: 67%;

                &::after {
                    background: $color-72C3D5;
                }
            }

            &-4 {
                background: $color-ED907A;
                right: 56%;
                top: 79.5%;

                &::after {
                    background: $color-ED907A;
                }
            }

            &-5 {
                background: $color-8384AE;
                right: 84%;
                top: 86%;

                &::after {
                    background: $color-8384AE;
                }
            }
        }
    }

    &-wrap {
        width: calc(100% * 10 / 12);
        margin: auto;

        @include max(1201px) {
            width: 100%;
        }

        @include max(800px) {
            justify-content: center;
        }
    }

    &-item {
        @include flex;
        ;
        align-items: center;
        border-radius: 10rem;
        padding: 1rem;

        .img {
            width: 5.2rem;
            height: 5.2rem;
            border-radius: 50%;
            background: white;
            padding: 1rem;
            margin-right: 0.8rem;

            @include max(600px) {
                width: 3.5rem;
                height: 3.5rem;
                padding: 0.5rem;
            }
        }

        .content {
            font-weight: 600;
        }

        @include max(1201px) {
            transform: none !important;
        }

        &:nth-child(1) {
            background: $color-pri;
        }

        &:nth-child(2) {
            transform: translateX(-10%);
            background: $color-second;

            .content {
                color: $color-text;
            }
        }

        &:nth-child(3) {
            background: $color-72C3D5;
            transform: translateX(-25%);
        }

        &:nth-child(4) {
            background: $color-ED907A;
            transform: translateX(-50%);
        }

        &:nth-child(5) {
            background: $color-8384AE;
            transform: translateX(-80%);
        }

        &:not(:last-child) {
            margin-bottom: 1.25rem;
        }
    }

    &-content {
        width: calc(100% * 3 / 10);
        padding-right: 4rem;
        margin-left: auto;
        padding-top: 20%;

        @include max(1201px) {
            padding-top: 0%;
            padding-right: 0;
            width: calc(100% * 4 / 10);
            padding-left: 1.2rem;
        }

        @include max(800px) {
            width: 100%;
            padding-left: 0;
            margin-top: 2rem;
        }

        >.content {
            left: -2rem;
            bottom: 60%;

            @include max(1201px) {
                position: static;
            }
        }

    }

    &-list {
        transform: translateY(35%);

        @include max(1201px) {
            transform: none;
            padding-top: 2rem;
        }

    }
}