:root {
    --opa: 0;
}

.menu {
    &-nav {
        height: 100%;

        @media (max-width: 1201px) {
            margin: 0 -1.5rem;
            max-height: 60vh;
            overflow: auto;
        }

        >.menu-list {
            height: 100%;

            >.menu-item {
                height: 100%;
                @include flex;
                align-items: center;
                position: relative;

                @media (min-width: 1201px) {
                    &::before {
                        position: absolute;
                        content: "";
                        width: 0%;
                        height: 100%;
                        background: $color-second;
                        top: 0%;
                        left: 50%;
                        z-index: 0;
                        transform: translateX(-50%);
                        @include transition(0.3s, ease-in-out);

                    }

                    &:hover {

                        // background: $color-second;
                        &::before {
                            width: 100%;
                        }
                    }
                }

                @include min($res-mobile-min) {
                    &:hover {
                        &::before {
                            width: 100%;
                        }
                    }
                }

                >a {
                    height: 100%;
                    @include flex;
                    align-items: center;
                    padding: 2.5rem 3rem;
                    white-space: nowrap;
                    transition: all 0.3s;
                    border-top: 1px solid $color-pri;
                    // border-bottom: 1px solid $color-pri;
                    position: relative;

                }

                &.current_page_item {
                    >a {
                        background: $color-second;
                    }

                    // &::before {
                    //     width: 100%;
                    // }
                }

                >.menu-list {
                    top: 100%;

                    @include min(1200px) {
                        display: block !important;
                    }


                }
            }
        }
    }

    &-list {
        @include flex;
        align-items: center;
        margin: 0 -1rem;

        .menu-list {
            // @media (max-width: 1201px) {
            //     position: relative !important;

            //     &::before {
            //         position: absolute;
            //         width: 1px;
            //         height: calc(100% - 3rem);
            //         content: "";
            //         background: $color-pri;
            //         left: 1rem;
            //         top: 50%;
            //         transform: translateY(-50%);
            //     }
            // }

            .dropdown {
                a {
                    i {
                        @media (min-width: 1201px) {
                            top: 1rem;
                        }
                    }
                }
            }
        }
    }

    &-item {
        @include transition(0.2s, ease-in-out);
        padding: 0rem 1rem;
        // z-index: 2;

        &:not(:first-child) {
            // margin-left: 2.4rem;
        }

        &:nth-child(0) {
            .menu-dropdown {
                opacity: 1;
                transform: none;
                visibility: visible;
            }
        }

        &:hover {
            >.menu-list {
                @include min($res-mobile-min) {
                    @include show;
                }
            }

            @include min(1201px) {
                a {
                    &::before {
                        width: 100%;
                    }
                }

                .menu-dropdown {
                    transform: none;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        >a {
            color: $color-second;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1.25;
            color: $color-text;
            padding: 3rem 0;
            position: relative;
            @include flex;
            align-items: center;
            // @include transition(0.3s, ease-in-out);


            .icon {
                @include flex;
                margin-right: 0.8rem;
            }

            &::before {
                position: absolute;
                width: 0;
                height: 2px;
                content: '';
                border-radius: 2px;
                background-color: $color-pri;
                bottom: 2.6rem;
                transition: all 0.3s ease-in-out;
            }

            >i {
                display: none;
                font-weight: 400;
                margin-left: 0.4rem;
            }
        }

        a {
            i {
                transition: 0.3s;

            }
        }

        &.dropdown {
            >a {
                >i {
                    display: inline-block;
                    position: absolute;
                    right: 0.5rem;
                    // top: 1.8rem;
                    font-size: 1.2rem;
                    top: 50%;
                    width: 3.5rem;
                    height: 3.5rem;
                    transform: translateY(-50%);
                    @include mid-flex;

                    &.active {
                        transform: translateY(-50%) rotate(180deg);
                    }
                }
            }
        }

        >.menu-list {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 20rem;
            @include flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: white;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            @include transitionRe;
            width: 100%;

            @include min($res-mobile-min) {
                @include hidden(0, 5px);
            }


            >.menu-item {
                margin-left: 0;
                width: 100%;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 3px;
                    background-color: $color-pri;
                    @include transition(0.2s, ease-in-out);
                    opacity: 0;
                }

                @include min($res-mobile-min) {
                    &:hover {
                        background-color: rgba($color: $color-pri, $alpha: 0.1);

                        &::before {
                            opacity: 0;
                        }
                    }
                }

                >a {
                    padding: 1rem;
                    @include flex;
                    align-items: center;
                    justify-content: space-between;
                    color: $color-pri;

                    >i {
                        transform: rotate(-90deg) translate(7px, 0);
                        // margin-top: 0.8rem;

                        @media (max-width: 1201px) {
                            transform: none;
                        }
                    }
                }

                >.menu-list {
                    left: 100%;

                    @media (max-width: 1201px) {
                        left: auto;
                    }
                }
            }
        }
    }

    &-top {
        @include flex;
        align-items: center;
        padding: 0.8rem 0;
    }

    &-dropdown {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: white;
        width: 100%;
        transform: translateY(-100%);
        visibility: hidden;
        opacity: 0;
        transition: all 0.4s ease-in-out;
        z-index: -1;
        overflow: hidden;

        .menu {
            &-wrap {
                padding-top: var(--pdDd);
                padding-bottom: 6rem;
                margin: 0 -1.2rem;
                align-items: flex-start;
                justify-content: space-between;
                // padding-right: 1.5rem;
                // padding-left: 1.5rem;

                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    top: -1rem;
                    z-index: -1;
                    right: 0;
                }


                .navigation {
                    width: calc(100% * 666 / 1582);
                    padding: 0 1.2rem;
                }



                .title {
                    font-weight: 700;
                    @include fz-20;
                    line-height: 1.25;
                    // margin-bottom: 2.4rem;
                }
            }

            &-sub {
                width: 18rem;

                &-wrap {
                    flex: 1;
                    margin-left: min(4vw, 5.5rem);
                }

                &-list {
                    width: 100%;
                    margin-left: -1rem;
                }

                &-item {
                    width: 100%;
                    margin-bottom: 0.8rem;

                    a {
                        padding: 1rem;
                        display: inline-block;
                        background: transparent;
                        border-radius: 10rem;
                        width: 100%;
                        color: $color-888888;
                        transition: all 0.3s ease-in-out;
                    }

                    @include min(1201px) {
                        &:hover {
                            a {
                                background: $color-E8E8E8;
                                color: $color-text;
                            }
                        }
                    }
                }


            }
        }

        .filter {


            &-item {
                width: 100%;
                margin-bottom: 2.4rem;

                a {
                    width: 100%;
                    padding: 1.4rem 1rem 1.3rem;
                    background: $color-0E1D61;
                    color: white;
                    border-radius: 10rem;
                    @include mid-flex;
                    font-weight: 600;
                    @include fz-18;
                    line-height: 1.22;
                    min-width: 22.5rem;
                }

            }
        }

        .collection {
            flex: 1;
            padding: 0 1.2rem;

            &-list {
                margin: 0 -1.2rem;

                .right,
                .left {
                    padding: 0 1.2rem;
                }

                .right {
                    width: calc(100% * 486 / 868);

                    .img {
                        @include imgPd(1, 1)
                    }
                }

                .left {
                    flex: 1;
                    margin: -1.2rem 0;

                    .collection-item {
                        padding: 1.2rem 0;
                    }

                    .img {
                        @include imgPd(231, 358);
                        transition: all 0.45s ease-in-out;
                    }
                }


            }

            &-item {
                @include flex;
                height: 100%;
                position: relative;

                &-wrap {
                    @include flex;
                    height: 100%;
                    position: relative;
                    width: 100%;
                }

                .text {
                    color: white;
                    font-weight: 700;
                    @include fz-20;
                    line-height: 1.25;
                    right: 0;
                    width: 100%;
                    z-index: 5;
                    text-align: center;
                    bottom: 0;
                    padding-bottom: 1.5rem;
                    transition: all 0.5s ease-in-out;
                }

                .img {
                    width: 100%;
                    border-radius: 2.4rem;
                    overflow: hidden;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 50%;
                        background: linear-gradient(180deg, rgba(14, 29, 97, 0%) 25.74%, #0E1D61 100%);
                        z-index: 2;
                        bottom: 0;
                        left: 0;
                        transition: all 0.65s ease-in-out;
                    }

                    img {
                        @include imgCover;

                        transition: all 1s ease-in-out;
                    }
                }

                &:hover {
                    @include min(1201px) {
                        .img {
                            img {
                                transform: translate(-50%, -50%) scale(1.05);
                            }

                            &::before {
                                height: 150%;
                            }
                        }

                        .text {
                            bottom: 3rem;
                        }
                    }
                }
            }
        }

        .type {
            &-lens {
                .list {
                    margin-left: - 1rem;
                }

                .item {
                    margin-bottom: 0.8rem;
                }

                a {
                    padding: 1rem;
                    font-weight: 500;
                    line-height: 1.25;
                    display: inline-block;
                    min-width: 18rem;

                }
            }

            &-brands {
                width: calc(735 / 1582 * 100%);

                @include max(1400px) {
                    width: 42%;
                }


                .list {
                    margin: 0 -1.8rem -2.4rem;
                    max-height: 38.5rem;
                    overflow: auto;
                }

                .item {
                    width: calc(100% / 3);
                    padding: 0 1.8rem;
                    margin-bottom: 2.4rem;
                    position: relative;
                    overflow: hidden;
                    border-radius: 10rem;



                    &:hover {
                        @include min(1201px) {


                            a {
                                color: $color-text;

                                &::after {
                                    transform: skew(30deg) translateX(-45%);
                                }
                            }
                        }
                    }
                }


                a {
                    padding: 1.4rem 1rem 1.3rem;
                    font-weight: 600;
                    @include fz-18;
                    line-height: 1.22;
                    background: $color-F5F5F5;
                    border-radius: 10rem;
                    @include mid-flex;
                    position: relative;
                    z-index: 10;
                    overflow: hidden;
                    max-height: 5rem;

                    img {
                        height: 100%;
                        width: auto;
                        max-height: 5rem;
                        position: relative;
                        z-index: 10;
                    }

                    .text {
                        position: relative;
                        z-index: 20;
                    }

                    &::after {
                        position: absolute;
                        content: "";
                        width: 120%;
                        height: 102%;
                        top: 0;
                        left: 50%;
                        background: $color-second;
                        transition: all 0.6s ease-in-out;
                        z-index: 1;
                        transform: skew(30deg) translateX(-200%);
                    }
                }
            }
        }

        .advertisement {
            width: calc(509 / 1582 * 100%);
            @include flex;
            flex-direction: column;
            // height: 100%;
            margin-top: auto;

            .collection-item {
                width: 100%;
                border-radius: 2.4rem;
                overflow: hidden;
            }

            .img {
                padding-top: calc(342 / 509 * 100%);
                width: 100%;
            }

            .text {
                font-weight: 600;
                @include fz-18;
                line-height: 1.22;
            }

            .text-big {
                @include fz-32;
                line-height: 1.25;
            }

            &-list {
                width: 100%;
                margin: 0 -3.5rem;

                .advertisement {
                    width: calc(100% / 3);
                    padding: 0 3.5rem;
                    margin-top: 0;
                }
            }
        }

        .famous-brand {
            .list {
                background: $color-pri;
                padding: 1.5rem 4rem;
                border-radius: 2.4rem;
                width: 24.6rem;
            }

            .item {
                &:not(:last-child) {
                    // margin-bottom: 1.5rem;

                }
                img {
                    max-height: 19rem;
                    width: auto;
                    max-width: 100%;
                    object-fit: contain;
                    filter: brightness(0) invert(1);
                }

                a {
                    @include flex;
                }
            }
        }
    }

    &-mobile {
        position: fixed;
        z-index: 1001;
        width: 20vw;
        min-width: 32rem;
        top: 0;
        left: 0;
        bottom: 0;
        background: white;
        transform: translateX(-100%);
        @include transition(0.5s, ease-in-out);


        @include min(1201px) {
            display: none;

        }

        &.show {
            transform: none;
        }

        .icon-close {
            position: absolute;
            top: 3rem;
            right: 3rem;
            cursor: pointer;
            width: 4rem;
            height: 4rem;
            @include mid-flex;
        }

        &-list {
            margin-top: 2rem;
            margin-bottom: 2rem;
            max-height: 70vh;
            overflow-y: auto;
            overflow-x: hidden;
            border-bottom: 1px solid $color-text;
        }

        .logo {
            padding-left: 1.5rem;
            padding-top: 2rem;
            width: 10rem;
        }

        .menu {
            &-item {
                padding: 0;

                a {
                    padding: 2rem 1.5rem;
                    display: inline-block;
                    width: 100%;


                    &::before {
                        display: none;
                    }
                }

                >a {
                    border-top: 1px solid $color-text;
                }

                &:last-child {
                    >a {
                        // border-bottom: 1px solid $color-text;
                    }
                }

                &.current-menu-item {
                    >a {
                        color: white;
                        background: $color-pri;
                        border-color: $color-pri;
                    }
                }
            }
        }
    }

}

.sub-menu {
    &-wrap {
        display: none;
        padding-left: 1.5rem;
        border-top: 1px solid $color-text;

        .menu {
            &-item {
                a {
                    border: none !important;

                    &::after {
                        position: absolute;
                        content: "";
                        width: 0.4rem;
                        height: 0.4rem;
                        border-radius: 40%;
                        background: $color-text;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                .menu-item {
                    a {
                        &::after {
                            width: 0.8rem;
                            height: 0.2rem;
                            border-radius: 0.3rem;
                        }
                    }
                }


            }


        }

        .dropdown {

            >a {
                font-weight: 700;
            }
        }

        .sub-menu-wrap {
            border: none;


        }
    }
}


.menu-page {
    background-color: $color-second;

    .container {
        @include max($res-mobile) {
            padding: 0;
        }
    }

    .menu-list {
        @include max($res-mobile) {
            overflow-x: auto;
            overflow-y: hidden;
            @include scroll-hidden;

            &::-webkit-scrollbar {
                height: 0.2rem;
            }
        }
    }

    .menu-item {
        flex: 1;
        text-align: center;

        @include min($res-mobile-min) {
            &:hover {
                background-color: $color-pri;
            }
        }

        &:not(:first-child) {
            margin-left: 0;

            &::before {
                content: "";
                position: absolute;
                @include posi-vertical;
                width: 0.1rem;
                height: 2.4rem;
                background-color: rgba($color: white, $alpha: 0.4);
                left: 0;
            }
        }

        &::after {
            content: "";
            position: absolute;
            @include posi-horizontal;
            bottom: 0;
            opacity: 0;
            visibility: hidden;
            @include transition(0.1s, ease-in-out);
            border-left: 1.5rem solid transparent;
            border-top: 1.5rem solid transparent;
            border-right: 1.5rem solid transparent;
            border-bottom: 1.5rem solid #f8f8f8;
        }

        &.current_page_item {
            background-color: $color-pri;

            &::after {
                opacity: 1;
                visibility: visible;
            }
        }

        a {
            padding: 3rem 1.5rem;
            text-transform: uppercase;
            color: white;
            overflow: hidden;

            @include max($res-mobile) {
                white-space: nowrap;
                padding: 2.4rem 3rem;
            }
        }
    }
}

.megamenu {
    &-layout {
        &2, &4 {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        &4 {

        }
    }
}