.breadcumbs {
    
    &-wrap {
        padding: 1.3rem 0;
        border-bottom: 1px solid $color-CECECE;
    }

    &-list {
        @include flex;
        align-items: center;
        margin: 0 -0.9rem;
    }

    &-item {
        position: relative;
        padding: 0 0.9rem;

        &:not(:last-child) {
            &::before {
                position: absolute;
                content: "";
                border: 1px solid $color-A6A6A6;
                border-radius: 50%;
                width: 0.5rem;
                height: 0.5rem;
                top: 50%;
                right: 0;
                transform: translate(50%, -50%);
            }
        }

        a {
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 1.71;
            color: $color-A6A6A6;

            @include min(1201px) {
                &:hover {
                    color: $color-72C3D5;
                }
            }
        }

        &.active {
            a {
                color: $color-text;

                @include min(1201px) {
                    &:hover {
                        color: $color-72C3D5;
                    }
                }
            }
        }
    }

    &.pd-t {
        padding-top: 1.5rem;
    }
}