.filter {
    &-container {
        .icon {
            margin-right: 0.8rem;
            width: 2.4rem;
            height: 2.4rem;
        }

        .text {
            color: #A29F9F;
        }

        .quickview {
            margin-right: 0.8rem;
            cursor: pointer;
        }
    }

    &-pro {
        cursor: pointer;
    }

    &-wrap {
        .list {
            display: none;
            padding: 2rem;
        }

        .selected {
            color: #B4B4B4;
            margin-right: 8rem;
            display: inline-block;

            @include max(420px) {
                margin-bottom: 1.5rem;
            }

            &-content {
                @include max(420px) {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }

        .delete {}

        .color {
            width: 1.8rem;
            height: 1.8rem;
            border-radius: 50%;
            display: inline-block;
            margin-right: 0.8rem;

            &.black {
                background: #4F4C4A;
            }

            &.white {
                border: 1px solid #F2F2F2;
            }

            &.gray {
                background: #D0D0D0;
            }

            &.pink {
                background: #ED907A;
            }

            &.yellow {
                background: #FACD01;
            }

            &.blue {
                background: #72C3D5;
            }
        }

        .input-check {
            display: none;

            &:checked~label {
                .checkbox {
                    background: #303030;
                }
            }
        }

        label {
            cursor: pointer;
            padding: 0.7rem 0;
            @include flex;
            align-items: center;

        }

        .checkbox {
            border: 2px solid #303030;
            border-radius: 2px;
            display: inline-block;
            width: 1.2rem;
            height: 1.2rem;
            margin-right: 1.4rem;
            position: relative;

            i {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                font-size: 0.9rem;
                font-weight: 900;
                color: white;
            }
        }

        .btn-filter {
            width: 100%;
        }
    }

    &-list {
        &:not(:last-child) {
            margin-bottom: 1.6rem;
        }

        &:last-child {
            .list {
                padding: 0;
                padding-top: 2rem;
            }
        }

        .text {
            width: 100%;
            @include flex;
            cursor: pointer;
            justify-content: space-between;
        }

        .txt {
            margin-right: 0.4rem;
        }

        .line {
            margin: 0 .4rem;
        }
    }

    &-content {
        
    }
}

.sort {
    &-item {
       
    }
}