.footer {
    overflow: hidden;
    background: $color-pri;

    a,
    p,
    h1,
    h2,
    h3,
    h4,
    i {
        color: white;
    }

    .info {
        &-item {
            @include flex;
            align-items: center;
            color: white;

            .icon {
                width: 4.8rem;
                height: 4.8rem;
                @include flex;
                margin-right: 1rem;

                @include max(1201px) {
                    width: 3.5rem;
                    height: 3.5rem;
                }
            }

            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }

            a {
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 1.71;
            }
        }
    }

    &-list {
        margin: -2rem -0.75rem;
    }

    &-item {
        padding: 2rem 0.75rem;

        &:nth-child(1) {
            width: calc(100% * 2 / 12);

            @include max(850px){
                width: 50%;
            }
            
        }

        &:nth-child(2) {
            width: calc(100% * 3 / 12);

            @include max(850px){
                width: 50%;
            }
        }

        &:nth-child(3) {
            width: calc(100% * 4 / 12);

            @include max(1024px){
                width: calc(100% * 3 / 12);
            }

            @include max(850px){
                width: 50%;
            }
        }

        &:nth-child(4) {
            width: calc(100% * 3 / 12);

            @include max(1024px){
                width: calc(100% * 4 / 12);
            }

            @include max(850px){
                width: 50%;
            }
        }

        @include max(500px) {
            width: 100% !important;
        }

        .btn.icon {
            width: fit-content;

            .btn-inner {
                color: $color-text;
            }

            .icon {
                width: 2.4rem;
                height: 2.4rem;

                i {
                    color: $color-text;
                }
            }

            &::before {
                background: $color-72C3D5;
            }
        }
    }

    &-logo {
        @include max(800px) {
            order: 1;
        }
    }

    &-content {
        padding-bottom: 4.8rem;
        border-bottom: 1px solid rgba($color: #D3D3D3, $alpha: 0.3);
    }

    &-social {
        padding: 1.7rem 0;
        border-bottom: 1px solid rgba($color: #D3D3D3, $alpha: 0.3);

        @include max(800px) {
            flex-direction: column;
            align-items: flex-start;
        }

        .social {
            &-item {
                border-radius: 50%;
                overflow: hidden;

                &:not(:last-child) {
                    margin-right: 0.8rem;
                }

                a {
                    width: 2.4rem;
                    height: 2.4rem;
                    display: inline-block;
                }
            }
        }

        .payment {
            margin-left: auto;
            margin-right: 1.2rem;
            

            @include max(800px) {
                margin: 2rem 0;
            }

            .text {
                margin-right: 3.2rem;
            }

            &-item {
                width: 2.4rem;

                &:not(:last-child) {
                    margin-right: 0.7rem;
                }
            }
        }

        .img-noti {
            width: 12.4rem;
        }
    }

    &-info {
        padding-top: 3rem;

        @include max(800px) {
            flex-direction: column;
            align-items: flex-start;
        }

        .content, .coppyright {
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 1.71;
        }

        .info-company {
            @include max(800px) {
                order: 2;
                margin: 2rem 0;
            }
        }
        .coppyright {
            @include max(800px) {
                order: 3;
            }
        }
    }

}