:root {
    --pdHd: min(4.859vw, 8.4rem);
    --pdDd: 4rem;

    @include max(1700px) {
        --pdHd: 4.2rem;
    }

    @include max(1400px) {
        --pdHd: 3rem;
    }

    @include max(800px) {
        --pdHd: 1.5rem;
    }
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;

    &-wrap {
        position: relative;
        width: 100%;
        @include flex;
        align-items: center;
        justify-content: space-between;
        padding-left: var(--pdHd);
        background: $color-F5F5F5;
        z-index: 7;

        &::before {
            width: 100%;
            height: 100%;
            z-index: 0;
            position: absolute;
            content: "";
            background: $color-F5F5F5;
            top: 0;
            right: 0;
        }

        @include max(1300px) {
            padding-left: 1.5rem;
        }

        @include max(1200px) {
            padding-left: 0;
        }

    }

    .logo {
        width: 13.4rem;
        margin-right: 0.5rem;
        position: relative;
        z-index: 10;
        @include transition(0.3s, ease-in-out);

        @include max(1400px) {
            width: 10rem;
        }

        @include max(800px) {
            width: 8rem;
        }

        @include max(600px) {
            width: 6rem;
        }

        a {
            width: 100%;
        }

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    &-act {
        margin-left: 3rem;
        margin-right: 3rem;
        position: relative;

        @include max(1400px) {
            margin-left: 1.8rem;
            margin-right: 1.8rem;
        }

        @include max(1200px) {
            margin-left: auto;
            margin-right: 2.5rem;
        }

        @include max(340px) {
            margin-right: 1.5rem;
        }

        .icon,
        .img {
            @include flex;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .act {
            &-item {
                margin: 0 0.8rem;
                width: 2.4rem;
                height: 2.4rem;
                position: relative;
                cursor: pointer;

                @include max(1300px) {
                    width: 2rem;
                    height: 2rem;
                }

                @include max(340px) {
                    margin: 0 0.4rem;
                }

                &.user {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;

                    @include max(1300px) {
                        width: 2.4rem;
                        height: 2.4rem;
                    }

                    @include max(1200px) {
                        display: none;
                    }
                }
            }

            &-list {
                @include flex;
                align-items: center;
                margin: 0 -0.8rem;

                @include max(340px) {
                    margin: 0 -0.4rem;
                }
            }
        }

        .cart {
            .num {
                position: absolute;
                @include mid-flex;
                font-weight: 600;
                font-size: 9px;
                line-height: 1.1rem;
                width: 1.3rem;
                height: 1.3rem;
                background: #FACD01;
                border-radius: 50%;
                right: -1rem;
                top: -0.2rem;
            }
        }

        .header-seach {
            position: absolute;
            width: 5rem;
            top: -1.5rem;
            right: 50%;
            transform: translateX(50%);
            z-index: -1;
            transition: all 0.3s ease-in-out;

            &.active {
                top: 6rem;
                animation: searchBar 0.75s forwards;

                .input {
                    padding: 1.5rem 2rem;
                }

                @keyframes searchBar {
                    0% {
                        top: 0;
                        width: 5rem;
                    }

                    50% {
                        top: 6rem;
                        width: 5rem;
                    }

                    100% {
                        top: 6rem;
                        width: 32rem;
                    }
                }
            }

            .form-wrap {
                margin: 0rem;
                width: 100%;
            }

            .btn-search {
                background: $color-pri;
                width: 4.2rem;
                height: 4.2rem;
                border-radius: 50%;
                padding: 1rem;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0.4rem;
                cursor: pointer;


                .inner {
                    background: url("../assets/images/search.svg");
                    filter: brightness(0) invert(1);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    width: 100%;
                    height: 100%;
                    display: block;
                    cursor: pointer;
                }
            }

            .input {
                background: $color-F5F5F5;
                width: 100%;
                padding: 1.5rem 0rem;
                padding-right: 4rem;
                border-radius: 10rem;
                border: 2px solid $color-pri;
            }
        }
    }

    &-toggle {
        padding-right: var(--pdHd);
        padding-left: calc(var(--pdHd) / 2);
        padding-top: 3.3rem;
        padding-bottom: 3.3rem;
        background: $color-E8E8E8;
        cursor: pointer;
        position: relative;
        user-select: none;
        @include transition(0.3s, ease-in-out);


        @include max(1700px) {
            padding-left: var(--pdHd);
        }

        @include max(1200px) {
            padding-top: 2.4rem;
            padding-bottom: 2.4rem;
        }

        @include max(800px) {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }

        .toggle {
            .text {
                @include max(1300px) {
                    display: none;
                }
            }
        }
    }

    &-nav {
        // margin-right: auto;

        @include max(1200px) {
            display: none;
        }
    }

    &-lang {
        margin: 0 1rem;

        @include max(1200px) {
            display: none;
        }

        .icon {
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 50%;
            margin-right: 0.8rem;

        }

        .text {
            line-height: 1.25;
            font-weight: 700;
        }

        .selected {
            padding-right: 2rem;

            i {
                position: absolute;
                top: 30%;
                transform: translateY(-50%);
                right: 0;
            }
        }
    }

    &-menu {
        &.left {
            margin-right: 1.5rem;

            @include min(1201px) {
                display: none;
            }

            @include max(340px) {
                margin-right: 1rem;
            }

            .hamburger {
                .icon {
                    span {
                        margin-left: 0;
                        margin-right: auto;
                    }
                }
            }
        }
    }

    &-sidebar {
        position: absolute;
        right: 0;
        // left: 0;
        top: 100%;
        overflow: hidden;
        visibility: hidden;
        min-width: 23.9rem;

        &.show {
            visibility: visible;

            .menu-list {
                transform: none;
            }
        }

        .menu {
            &-list {
                align-items: flex-start;
                transform: translateX(100%);
                background: white;
                padding: 4rem 3.3rem;
                height: 100vh;
                transition: all 0.5s ease-in-out;

                .menu-list {
                    height: auto;
                    padding: 0rem 1.5rem;
                    position: static;
                    box-shadow: none;
                    margin-right: 0;
                    opacity: 1;
                    visibility: visible;
                    display: none;
                    transition: none;

                    .menu-item {
                        margin-bottom: 0;
                        background-color: transparent;

                        a {
                            color: $color-888888;

                            @include min(1201px) {
                                color: $color-text;
                            }
                        }
                    }
                }
            }

            &-item {
                padding: 0;
                padding-left: 1rem;
                margin-bottom: 0.8rem;
                width: 100%;

                a {
                    padding: 1rem;
                    width: 100%;
                    font-weight: 500;
                    line-height: 1.25;
                    color: $color-888888;
                    display: inline-block;
                    border-radius: 10rem;

                    &:hover {
                        @include min(1200px) {
                            background: $color-E8E8E8;
                            color: $color-text;
                        }
                    }

                    &::before {
                        display: none;
                    }

                }
            }
        }
    }

    &-booking {

        border-radius: 10rem;
        overflow: hidden;

        @include max(1651px) {
            position: fixed;
            right: 0;
            top: 40%;
            border-radius: 10rem 0 0 10rem;
            transform: translateX(calc(100% - 7rem));
            transition: all 0.3s ease-in-out;
        }



        .btn-hover {
            // display: inline-block;
            background: $color-72C3D5;
        }

        .booking-btn {
            padding: 1rem 3.2rem;

            color: white;
            @include mid-flex;
            font-weight: 600;
            @include fz-18;
            line-height: 1.2;
            cursor: pointer;
            position: relative;

            @include max(1600px) {
                padding: 1rem 2.6rem;
                // padding-right: 1rem;
            }



            .icon {
                @include flex;
                margin-right: 1rem;
                font-size: 2.4rem;
            }



            .text {
                @include max(1651px) {
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                }
            }


        }

        @include min(1201px) {
            &:hover {
                transform: none;

                .text {
                    opacity: 1 !important;
                }
            }
        }
    }

    // &.out {
    //     .logo {
    //         width: 7rem;
    //     }

    //     .header-toggle {
    //         padding-top: 2rem;
    //         padding-bottom: 2rem;
    //     }

    //     .menu-item>a {
    //         padding: 2rem 0;
    //     }
    // }
}