.select2-container {
    // height: 37px;
    background-color: white;
    transition: all 0.3s ease-in-out;

    * {
        display: block !important;
        height: auto !important;
    }
}

.select2.select2-container {
    width: 100% !important;
}

.selection {
    width: 100%;
}

.select2-container--default .select2-selection--single {
    border: none;
    color: $color-white;
    // height: 37px;
    background-color: white;
    // @include flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.select2.select2-container .select2-selection--multiple {
    height: auto;
    // min-height: 34px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    background-color: transparent;
    border: 1px solid transparent;
    color: $color-black;
    @include fz-14;
    font-weight: 400;
    // display: inline !important;
    @include lc(1);
    width: 100%;
}

.select2.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: block;
    // padding: 0 4px;
}

.select2-container .select2-dropdown {
    background: transparent;
    border: none;
    transition: all 0.3s ease-in-out;
}

.select2-container .select2-dropdown .select2-search {
    padding: 0;
}

.select2-container .select2-dropdown .select2-search input {
    outline: none !important;
    border: none;
    border-bottom: none !important;
    padding: 4px 6px !important;
    background-color: $color-black;
    color: $color-black;
}

.select2-container .select2-dropdown .select2-results ul {
    background: #e6eeed;
    color: $color-black;
    transition: all 0.3s ease-in-out;
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
    background-color: $color-pri;
    font-size: 1.4rem;
    transition: all 0.3s ease-in-out;
}

.select2-container--default .select2-results__option--selected {
    background-color: #e6eeed;
    color: $color-black;
    font-size: 1.4rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    border-color: #000 transparent transparent transparent;
}

.select2-search.select2-search--dropdown {
    display: none !important;
}

.select2-results__option {
    font-size: 1.4rem;
}

.select2-results {
    display: block;
    overflow: hidden;
}


.select2.select2-container {
    width: 100% !important;
}

.selection {
    width: 100%;
}

.select2-container--default .select2-selection--single {
    border: none;
    color: $color-white;
    // height: 37px;
    background-color: white;
    // @include flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.select2.select2-container .select2-selection--multiple {
    height: auto;
    // min-height: 34px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    background-color: transparent;
    // border: 1px solid transparent;
    color: $color-black;
    @include fz-14;
    font-weight: 400;
    // display: inline !important;
    @include lc(1);
    width: 100%;
    padding: 1.5rem 2.6rem;
    display: block !important;
    line-height: 1.2 !important;
}

.select2.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: block;
    padding: 1.5rem 2.6rem;
}

.select2-container .select2-dropdown {
    background: transparent;
    border: none;
    transition: all 0.3s ease-in-out;
}

.select2-container .select2-dropdown .select2-search {
    padding: 0;
}

.select2-container .select2-dropdown .select2-search input {
    outline: none !important;
    border: none;
    border-bottom: none !important;
    // padding: 4px 6px !important;
    background-color: $color-black;
    color: $color-black;
}

.select2-container .select2-dropdown .select2-results ul {
    background: white;
    color: $color-black;
    
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
    background-color: $color-pri;
    font-size: 1.4rem;
    transition: all 0.3s ease-in-out;
    padding: 1.5rem 2.6rem !important;
}

.select2-container--default .select2-results__option--selected {
    background-color: #e6eeed;
    color: $color-black;
    font-size: 1.4rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    border-color: $color-gray-6 transparent transparent transparent!important;
    top: 50% !important;
    right: 2.6rem !important;
    left: auto !important;
    transition: all 0.3s ease-in-out;

    b {
        left: auto !important;
        border-width: 10px 7px 0 7px !important;
        transform: rotate(-90deg) translateX(50%);
        border-color: $color-gray-6 transparent transparent transparent !important;
        margin: 0;
        transition: all 0.3s ease-in-out;
    }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    transform: rotate(0) translateY(-40%);
}

.select2-search.select2-search--dropdown {
    display: none !important;
}

.select2-results__option {
    font-size: 1.4rem;
    padding: 1.5rem 2.6rem !important;
    line-height: 1.2;
}

.select2-results {
    display: block;
    overflow: hidden;
}