.cart {
    &-step {
        width: 68.4rem;
        max-width: 100%;
        margin: 0 auto;
        overflow-x: auto;
        @include scroll-hidden;
        margin-bottom: 9.6rem;
        @include max($res-mobile) {
            margin-bottom: 4rem
        }
        &-list {
            @include flex;
            justify-content: space-between;
            position: relative;
            @include max($mobile) {
                width: 500px;
                justify-content: flex-start;
            }
            &::before {
                content: '';
                position: absolute;
                top: 5rem;
                height: 1px;
                background-color: #CECECE;
                left: 5rem;
                right: 5rem;
                z-index: -1;
                @include max($mobile) {
                    display: none;
                }
            }
        }
        &-item {
            padding: 0 1.5rem;
            &.active {
                .cart-step-icon {
                    background-color: $color-second;
                    .icon {
                        filter: brightness(0) invert(0);
                    }
                }
            }
        }
        &-icon {
            width: 10rem;
            height: 10rem;
            border-radius: 100rem;
            background-color: $color-pri;
            @include mid-flex;
            margin: 0 auto;
            @include max($mobile) {
                width: 5rem;
                height: 5rem;
            }
            .icon {
                width: 4.8rem;
                height: 4.8rem;
                @include max($mobile) {
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }
        }
        &-name {
            font-size: 1.4rem;
            font-weight: 500;
            color: $color-black;
            text-align: center;
            margin-top: 1.6rem;
        }
    }
    &-empty {
        width: 45rem;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        .des {
            color: $color-text;
        }
        .btn {
            margin: 0 auto;
            margin-top: 3rem;
        }
    }
    &-title {
        @include fz-32;
        font-weight: 700;
        letter-spacing: 0.06em;
        color: $color-text;
        margin-bottom: 2.4rem;
    }
    &-side {
        &-left {
            width: calc(100%*(8/12));
            @include max(900px) {
                width: 100%;
                margin-bottom: 3rem;
            }
        }
        &-right {
            width: calc(100%*(4/12));
            @include max(900px) {
                width: 100%;
            }
        }
    }
}

.c {
    &-title {
        font-weight: 700;
        color: $color-text;
        text-align: center;
    }
    &-item {
        padding: 2rem 0;
        border-bottom: 1px solid #CECECE;
        position: relative;
    }
    &-head {
        @include max(1000px) {
            display: none;
        }
        .c-row {
            padding: 1.6rem 0;
            border-radius: 100px;
            background-color: #F5F5F5;
        }
    }
    &-body {
        .c-row {
            align-items: center;
            margin-bottom: -2.4rem;
        }
        .c-col {
            text-align: center;
            margin-bottom: 2.4rem;
            @include max(1000px) {
                text-align: left;
            }
        }
    }
    &-col {
        &-first {
            width: calc(100% *(1/12));
            @include max(1000px) {
                width: 0;
                padding: 0;
            }
        }
        &-second {
            width: calc(100% *(3/12));
            @include max(1000px) {
                width: calc(100% /3);
            }
            @include max($mobile) {
                width: calc(100% /2);
            }
            @include max(400px) {
                width: 100%;
            }
        }
        &-third {
            width: calc(100% *(2/12));
            @include max(1000px) {
                width: calc(100% /3);
            }
            @include max($mobile) {
                width: calc(100% /2);
            }
            @include max(400px) {
                width: 100%;
            }
        }
        &-four {
            width: calc(100% *(2/12));
            @include max(1000px) {
                width: calc(100% /3);
            }
            @include max($mobile) {
                width: 100%;
            }
        }
        &-five {
            width: calc(100% *(2/12));
            @include max(1000px) {
                width: calc(100% /3);
            }
            @include max($mobile) {
                width: 100%;
                text-align: left !important;
            }
        }
        &-six {
            width: calc(100% *(2/12));
            @include max(1000px) {
                width: calc(100% /3);
            }
            @include max($mobile) {
                width: 100%;
                text-align: left !important;
            }
        }
        &:last-child {
            flex: 1;
        }
    }
    &-delete {
        width: 2.2rem;
        height: 2.2rem;
        @include mid-flex;
        margin: 0 auto;
        cursor: pointer;
        &:hover {
            border-bottom: 1px solid $color-0E1D61;
        }
        @include max(1000px) {
            position: absolute;
            bottom: 2rem;
            right: 1.5rem;
        }
        @include max(400px) {
            bottom: initial;
            top: 4rem;
        }
        .icon {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &-product {
        width: 14.4rem;
        height: 8rem;
        margin: 0 auto;
        @include max(1000px) {
            margin: 0;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &-name {
        font-weight: 600;
        color: $color-text;
    }
    .count {
        @include flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem 1.2rem;
        border-radius: 100rem;
        border: 1px solid #E0E0E0;
        &-number {
            margin: 0 0.8rem;
        }
        &-btn {
            cursor: pointer;
        }
    }
    &-price {
        .price {
            font-weight: 600;
            &.old {
                font-size: 1.4rem;
                font-weight: 400;
                text-decoration: line-through;
            }
        }
    }
}

.code {
    &-form {
        padding: 8rem;
        background-color: #F9F9F9;
        border-radius: 2.4rem;
        @include max(900px) {
            padding: 6rem 2.4rem;
        }
        .re-input {
            padding: 1.2rem 1.2rem 1.2rem 3rem;
            background-color: transparent;
        }
        &-fl {
            @include flex;
            align-items: center;
            width: 100%;
            @include max($mobile) {
                flex-direction: column;
            }
            .f-rela {
                flex: 1;
                @include max($mobile) {
                    width: 100%;
                    margin-bottom: 2.4rem;
                }
            }
            .btn {
                flex-shrink: 0;
            }
        }
        .icon-percen {
            position: absolute;
            @include posi-vertical;
            left: 0.5rem;
            width: 2rem;
            height: 2rem;
        }
    }
}

.bill {
    &-wrapper {
        background-color: #F9F9F9;
        border-radius: 2.4rem;
        padding: 2.4rem;
    }
    &-title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 2.4rem;
    }
    &-block {
        &:not(:last-child) {
            margin-bottom: 1.6rem;
            padding-bottom: 1.6rem;
            border-bottom: 1px solid #CECECE;
        }
    }
    &-fl {
        @include flex;
        align-items: center;
        justify-content: space-between;
        &-wrap {
            @include max($mobile) {
                flex-direction: column;
            }
            .bill-sale {
                @include max($mobile) {
                    margin-bottom: 1.6rem;
                }
            }
        }
        &:not(:last-child) {
            margin-bottom: 0.8rem;
        }
    }
    &-text {}
    &-total {
        &-text {
            color: #CC4444;
            font-size: 1.8rem;
            font-weight: 700;
        }
    }
    .btn {
        width: 100%;
        margin-top: 3rem;
    }
    &-change {
        margin-top: 0 !important;
        width: fit-content !important;
        .btn-inner {
            min-width: initial;
            width: fit-content;
            padding: 1.2rem 1.8rem;
            font-size: 1.4rem;
            font-weight: 600;
            color: white;
        }
    }
    &-sale {
        @include flex;
        align-items: center;
        .icon {
            width: 2.4rem;
            height: 2.4rem;
            margin-right: 0.8rem;
        }
        .text {
            font-weight: 600;
            text-transform: uppercase;
            color: #3A9CB1;
        }
    }
}

.deli {
    &-form {
        width: 79.2rem;
        max-width: 100%;
        margin: 0 auto;
        background-color: #F9F9F9;
        border-radius: 2.4rem;
        &-wrapper {
            padding: 6rem 14rem;
            @include max(768px) {
                padding: 4.8rem 2.4rem
            }
        }
        &-control {
            @include flex;
            justify-content: center;
            margin: 0 -1rem;
            margin-top: 7.6rem;
            @include max(600px) {
                flex-direction: column;
                justify-content: center;
            }
            &-item {
                padding: 0 1rem;
                .btn {
                    @include max(600px) {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.paym {
    &-block {
        border: 1px solid #CECECE;
        border-radius: 2.4rem;
        padding: 4.8rem;
        @include max($mobile) {
            padding: 1.6rem;
        }
        &:not(:last-child) {
            margin-bottom: 2.4rem;
        }
    }
    &-title {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 3.2rem;
    }
    &-info {
        @include flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 -1.2rem;
        &-item {
            padding: 0 1.2rem;
            &:not(:last-child) {
                border-right: 1px solid $color-black;
            }
        }
        &-name {
            font-weight: 700;
        }
        &-phone {
            font-weight: 700;
        }
    }
    &-address {
        margin-top: 2.4rem;
        color: #655E5E;
    }
    &-method {
        .recheck-item {
            @include flex;
            align-items: center;
            cursor: pointer;
            &:not(:last-child) {
                margin-bottom: 2.4rem;
            }
            .icon {
                width: 3.2rem;
                height: 3.2rem;
                margin-left: 1rem;
            }
        }
        .recheck-input:checked~.recheck-dot {
            &::before {
                opacity: 1;
            }
        }
        .recheck-dot {
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 100rem;
            border: 1px solid #CECECE;
            flex-shrink: 0;
            position: relative;
            &::before {
                content: '';
                @include mid;
                width: 0.8rem;
                height: 0.8rem;
                border-radius: 100rem;
                background-color: $color-black;
                opacity: 0;
            }
        }
        .recheck-text {
            margin-left: 1rem;
        }
    }
    &-sc {
        padding: 11rem 0;
        text-align: center;
        position: relative;
        &-code {
            font-weight: 700;
            color: $color-pri;
        }
        &-br {
            position: absolute;
            @include full;
            z-index: -1;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}