.page-numbers {
    @include flex;
    align-items: center;
    justify-content: start;

    &.m-top {
        margin-top: 3rem;
    }

    .dot {
        color: #0D3961;
    }

    >li {
        &:not(:first-child) {
            margin-left: 2rem;

            @include max(420px) {
                margin-left: 1rem;
            }
        }

        &>.page-numbers {
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 1.2;
            letter-spacing: 0.05em;
            color: #BCBCBC;
            width: 3rem;
            height: 3rem;
            border-radius: 100rem;
            @include mid-flex;
            cursor: pointer;
            transition: 0.3s ease-in-out;

            @media (max-width: 420px) {
                width: 3.5rem;
                height: 3.5rem;
            }

            @media (max-width: 320px) {
                width: 3rem;
                height: 3rem;
                font-size: 1.2rem;
            }

            &:hover {
                color: $color-pri;
                
            }

            &.current {
                color: $color-pri;
                pointer-events: none;
            }

            &.dot {
                pointer-events: none;
            }

            .icon {
                font-weight: 900;
                font-size: 1rem;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    &.next, &.prev {
        border: 1px solid #BCBCBC;
        cursor: pointer;

        &:hover {
            border: 1px solid $color-pri;

            .icon {
                color: $color-pri;
            }
        }
    }
}

.pagination {
    &.center {
        .page-numbers {
            justify-content: center;
        }
    }
}