.search {
    &-section {
        position: fixed;
        width: 100vw;
        height: 100%;
        z-index: 1000;
        top: 0;
        left: 0;
        bottom: 0;
        @include mid-flex;
        background: $color-black-opa9;
        backdrop-filter: blur(10px);
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease-in-out;
        padding: 0 1.5rem;

        &.active {
            opacity: 1;
            visibility: visible;

            .search {
                &-form {
                    &::before {
                        width: 100%;
                    }
                }

                &-btn {
                    right: 2rem;
                }
            }
        }
    }

    &-form {
        width: 100%;
        max-width: 85rem;
        margin: auto;

        &::before {
            position: absolute;
            content: '';
            width: 0;
            height: 2px;
            background: white;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: 0.5s 0.4s ease-in-out;
        }

        input {
            width: 100%;
            background: transparent;
            border: none;
            outline: none;
            padding: 0 6rem 1.1rem 2rem;
            color: white;

        }

        input[type="submit"] {
            display: none;
        }

        .title {
            @include fz-32;
            font-weight: 600;
            line-height: 1.6;
        }

    }

    &-btn {
        position: absolute;
        width: 6rem;
        height: 6rem;
        background: transparent;
        cursor: pointer;
        @include mid-flex;
        bottom: 0;
        transform: translate(50%, -10%);
        right: 50%;
        font-size: 2.5rem;
        transition: 0.5s 0.4s ease-in-out;

        i {
            color: white;
            transition: 0.3s ease-in-out;
        }

        @media (min-width: 1200px) {
            &:hover {
                i {
                    color: $color-second;
                }
            }
        }
    }

    &-close {
        position: absolute;
        top: 5rem;
        right: 5rem;
        cursor: pointer;
        font-size: 2.5rem;
        color: white;

        .icon {
            transition: 0.5s;
            @include mid-flex;

            i {
                font-weight: 900;
            }
        }

        @media (min-width: 1200px) {
            &:hover {
                .icon {
                    transform: rotate(360deg);
                    color: $color-second;
                }
            }
        }
    }
}