:root {
    --item: 6.6rem;

    @include max(1024px){
        --item: 5rem;      
    }
}

.service {
    &-1 {
        .page-numbers {
            justify-content: center;
        }

        .list {
            &-item {
                @include max(1024px) {
                    width: calc(100% / 3);
                }

                @include max(750px) {
                    width: calc(100% / 2);
                }

                @include max(500px) {
                    width: 100%;
                }
            }
        }
    }
}

.service {
    &-item {
        margin-bottom: 3rem;
        margin-top: calc(var( --item) / -2);

        .icon-ser {
            background: $color-second;
            border-radius: 50%;
            @include mid-flex;
            width: var( --item);
            height: var( --item);
            transform: translateY(50%);
            flex-shrink: 0;

            
        }

        .wrap {
            &-item {
                @include flex;
                flex-direction: column;
                align-items: center;
                height: 100%;
                // margin-top: calc(var( --item) / -2);

            }

            &-content {
                background: #FFFFFF;
                @include flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 6.9rem 2rem 3.6rem;
                border-radius: 6px;
                height: 100%;
                border: 0.5px solid rgba(0, 0, 0, 0.3);
                @include transition(0.3s, ease-in-out);

                @include max(1200px) {
                    padding: 5rem 1.5rem 2rem;
                }

                @include max(800px) {
                    padding: 4rem 1rem 1.5rem;
                }

                a {
                    color: $color-pri;

                    .text {
                        transition: all 0.3s;
                    }

                    .icon {
                        transition: all 0.4s !important;
                    }

                    @include min(1200px) {
                        &:hover {
                            .text {
                                color: $color-second;

                            }

                            .icon {
                                filter: invert(43%) sepia(98%) saturate(6737%) hue-rotate(346deg) brightness(70%) contrast(105%) !important;
                            }
                        }
                    }

                    .icon {
                        @include transition(0.3s, ease-in-out);
                    }
                }

                .content {
                    line-height: 1.6;
                }

                @include min(1200px) {
                    &:hover {
                        background: $color-pri;
                        color: white;
                        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);

                        a {
                            color: white;

                            .icon {
                                filter: brightness(0) invert(1);
                            }
                        }
                    }
                }
            }
        }
    }
}
